<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>project</servlet-name>
        <servlet-class>project</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>updateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletionServlet</servlet-name>
        <servlet-class>deletionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayServlet</servlet-name>
        <servlet-class>displayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentDisplay</servlet-name>
        <servlet-class>studentDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register_teacher</servlet-name>
        <servlet-class>register_teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_teacher</servlet-name>
        <servlet-class>login_teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register_students</servlet-name>
        <servlet-class>register_students</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_student</servlet-name>
        <servlet-class>login_student</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>project</servlet-name>
        <url-pattern>/project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/updateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletionServlet</servlet-name>
        <url-pattern>/deletionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayServlet</servlet-name>
        <url-pattern>/displayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentDisplay</servlet-name>
        <url-pattern>/studentDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register_teacher</servlet-name>
        <url-pattern>/register_teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_teacher</servlet-name>
        <url-pattern>/login_teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register_students</servlet-name>
        <url-pattern>/register_students</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_student</servlet-name>
        <url-pattern>/login_student</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
